* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: #f0f0f0;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#app {
    width: 90%;
    height: 90vh;
    padding: 5vh 5%;
    background-color: #f0f0f0;
}

header {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

header h1 {
    font-size: 45px;
    font-weight: 500;
}

#repo-link {
    position: fixed;
    top: 0;
    right: calc(5% - 25px);
    width: 50px;
    height: 70px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #000;
}

.repo-link {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.repo-link img {
    width: 30px;
    position: absolute;
    bottom: 0;
    margin: 0px 10px 15px;
}

#app .rows {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 950px) {
    #app .rows {
        flex-direction: column;
    }

    #app .row {
        width: 100% !important;
    }
} 

#app .row {
    width: calc(50% - 5vh);
    display: inline-block;
}

section {
    width: calc(100% - 70px);
    min-height: 100px;
    padding: 30px 35px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 5vh;
}

section h3 {
    font-size: 30px;
    padding-bottom: 10px;
}

ol, ul {
    margin-left: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 12px 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline;
    position: relative;
}

button:hover:not(:active)::after {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
}

input {
    padding: 12px 18px;
    background-color: #e5e5e5;
    border-radius: 5px;
    border: none;
    outline: none;
    width: calc(100% - 36px);
}

a {
    font-size: 14px;
    color: royalblue;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

section#button-counter {
    display: flex;
    justify-content: center;
    align-items: center;
}

section#button-counter button {
    width: 90%;
    max-width: 300px;
    font-size: 17px;
}

section#notes ul {
    padding: 0px 0px 20px;
    font-size: 17px;
}

section#notes ul li::marker {
    font-weight: 600;
}

section#notes ul li a {
    float: right;
    font-size: 17px;
    color: red;
}

section#notes .new-note a {
    display: block;
    margin: 10px 9px;
    font-size: 16px;
}

section#cps {
    position: relative;
}

section#cps:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}

section#cps .counter {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background-color: #e5e5e5;
    border-radius: 100%;

    transition: transform .2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 500;
}

section#cps .counter:hover {
    transition: transform .2s ease;
    transform: scale(1.1);
}

section#cps .counter:active {
    transition: transform .1s ease;
    transform: scale(0.95);
}

section#ifelseifelse div {
    display: flex;
}

section#attr-bind img {
    width: 100%;
    border-radius: 10px;
}

section#attr-bind .button-container {
    margin: 30px 0px 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

section#norender {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section#norender p {
    margin: 5px 0px;
}