<section class="landing">
    <div class="box">
        <h1>Welcome to Rable.js!</h1>
        <p>
            A <a href="https://nodejs.org" target="_blank">NodeJS</a> library providing an advanced routing and templating system. <br>
            Wanna check out the <a href="/other">other</a> page?
        </p>
    </div>
</section>

<style media="screen">
    body {
        background-image: url('https://images.wallpaperscraft.com/image/sea_shore_minimalism_100029_1920x1080.jpg');
        background-position: top;
        background-repeat: no-repeat;
    }

    div.content {
        min-height: calc(100vh - 140px);
    }

    div.footer,
    div.navbar {
        background-color: transparent;
    }

    section.landing {
        width: 90%;
        height: calc(100vh - 160px);
        margin: 20px 5% 0 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section.landing .box h1 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 20px;
    }

    section.landing .box p {
        font-size: 20px;
    }

    @media only screen and (max-width: 768px) {
        section.landing .box {
            height: calc(70vh - 160px);
        }
    }
</style>
