body {
    background-image: url('assets/img/home_background.jpg');
    background-position: top;
    background-repeat: no-repeat;
}

div.content {
    min-height: calc(100vh - 140px);
}

div.footer,
div.navbar {
    background-color: transparent;
}

section.landing {
    width: 90%;
    height: calc(100vh - 160px);
    margin: 20px 5% 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section.landing .box h1 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 20px;
}

section.landing .box p {
    font-size: 20px;
}

@media only screen and (max-width: 768px) {
    section.landing .box {
        height: calc(70vh - 160px);
    }
}
