div.footer {
    display: none;
}

.container {
    width: 100%;
    min-height: calc(100vh - 60px);
    display: flex;
}

.container .intro {
    width: 25%;
    height: calc(70vh - 60px);
    padding: 15vh 5%;
    background-color: #f1f1f1;
    position: fixed;
}

.container .intro .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 5vh;
    font-size: 13px;
}

.container .intro .bottom .brand {
    font-weight: 600;
}

.container .posts {
    width: 55%;
    margin: 0px 5%;
    position: absolute;
    right: 0;

    -webkit-column-count: 2;
    -webkit-column-gap:   10vh;
    -moz-column-count:    2;
    -moz-column-gap:      10vh;
    column-count:         2;
    column-gap:           10vh;
}

.container .posts div {
    background-color: #f1f1f1;
    width: 80%;
    padding: 10%;
    display: block;
    margin-bottom: 10%;
    page-break-inside: avoid;
}

@media only screen and (max-width: 768px) {
    div.footer {
        display: flex;
    }

    .container {
        display: block;
    }

    .container .intro {
        position: static;
        width: 90%;
        height: calc(80vh - 60px);
        padding: 5vh 5%;
        background-color: #d9d9d9;
    }

    .container .intro .bottom {
        display: none;
    }

    .container .posts {
        width: 90%;
        padding: 5vh 5%;
        position: static;
        display: block;
        margin: 0px 0px 60px 0px;

        -webkit-column-count: 1;
        -moz-column-count:    1;
        column-count:         1;
    }

    .container .posts div {
        background-color: #d9d9d9;
    }
}
